<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li><h2>Welcome to Doodle Mail!</h2></li>
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li>{{#link-to 'new-user'}}Create Account{{/link-to}}</li>
      <li>{{#link-to 'email'}}Email{{/link-to}}</li>
      <li>{{#link-to 'new-email'}}Send{{/link-to}}</li>
    </ul>
  </nav>

  <div class="jumbotron">
    {{outlet}}
  </div>
</div>
