.jumbotron {
  color: rgb(255, 199, 15);
  background: rgba(22,41,85,.68);
  border-color: black;
  border-width: 3px;
  border-radius: 13px;

}

.navbar-default {
  color: yellow;
  background-color: rgb(22,41,85);
  background: rgba(22,41,85,.95);
  border-color: black;
  border-width: 3px;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 13px;

}

.navbar-default .navbar-nav > li > a {
  color: rgb(255, 199, 15);
}

body {
  background-image: url(Doodle.jpg);

}
